<style>
    .card-header .card-title .action-icon {
        float: right;
        width: 1.2em;
    }

    .card-header .card-title {
        cursor: pointer;
        border-bottom: none;
    }

    .card-header .card-title:not(.collapsed) .rotate-icon {
        transform: rotate(180deg);
    }
</style>

<ul class="breadcrumb">
    <span><i class="fa fa-chart-area mx-2"></i></span>
    <li class="breadcrumb-item">
        <label class="text-primary mb-0" data-toggle="tooltip" data-placement="bottom" title="">Termohigrometria</label>
    </li>
</ul>

<div class="container-fluid">
    <div id="pnlDatalogger" class="my-2">
        {{#each dataloggers}}
        <div class="card p-auto  mb-3 my-2">
            <div class="card-header">{{name}}</div>
            <div class="card-body bg-light p-1" id={{code}}>
                <div class="accordion" id="accordionData">
                    {{#each areas}}
                    <div class="card p-auto">
                        <div class="card-header btn-outline-primary m-0" id="heading{{code}}" data-toggle="collapse" data-target="#collapse{{code}}" aria-expanded={{#if @first}}"true"{{else}}"false"{{/if}} aria-controls="collapse{{code}}">
                            <h6 class="card-title font-weight-light m-0">
                                <span class="title">{{name}}</span>
                                <span class="action-icon"><i class="fas fa-angle-down rotate-icon"></i></span>
                            </h6>
                        </div>
                        <div id="collapse{{code}}" class="collapse {{#if @first}}show{{/if}}" aria-labelledby="heading{{code}}" data-parent="#accordionData">
                            <div class="row m-0 p-1 ">
                                {{#each locations}}
                                {{#if sensors.length}}
                                <div class="card m-auto p-0 col-12 col-md-6 col-xl-4">
                                    <h6 class="card-header">
                                        <span class=" font-weight-bold mr-2">{{code}}</span>{{name}}
                                    </h6>
                                    <div class="card-body p-1">
                                        <div class="card-group">
                                            {{#each sensors}}
                                            <div class="card m-auto p-auto">
                                                <div class="card-body">
                                                    <div class="card-title mb-0">
                                                        <a href="/termohigrometria/sensor?id={{code}}">
                                                            <h6 class="font-weight-bold m-0">{{code}}</h6>
                                                            <small class="text-muted">{{name}}</small>
                                                        </a>
                                                    </div>
                                                    <div class="row p-0 m-0">
                                                        <div class="col-12 col-sm-6 col-md-7 col-lg-8 p-0 text-danger my-auto">
                                                            <h2 class="text-center m-0">
                                                                <i aria-hidden="true" class="fa fa-thermometer-half"></i>
                                                                <span id="{{code}}-temp">22.9</span> °C
                                                            </h2>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 p-0 my-auto">
                                                            <div class="row p-0 m-auto">
                                                                <div class="col-4 text-right p-0 mr-auto">Max :</div>
                                                                <div class="col-6 p-0 ml-auto">
                                                                    <span id="{{code}}-tmax">16.5</span> °C
                                                                </div>
                                                                <div class="col-4 text-right p-0 mr-auto">Min :</div>
                                                                <div class="col-6 p-0 ml-auto">
                                                                    <span id="{{code}}-tmin">8.7</span> °C
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row p-0 m-0">
                                                        <div class="col-12 col-sm-6 col-md-7 col-lg-8 p-0 text-info my-auto">
                                                            <h2 class="text-center m-0 h-50">
                                                                <i aria-hidden="true" class="fa fa-tint"></i>
                                                                <span id="{{code}}-humd">59.6</span>%
                                                            </h2>
                                                        </div>
                                                        <div class="col-12 col-sm-6 col-md-5 col-lg-4 p-0 my-auto">
                                                            <div class="row p-0 m-auto">
                                                                <div class="col-4 text-right p-0 mr-auto">Max :</div>
                                                                <div class="col-6 p-0 ml-auto">
                                                                    <span id="{{code}}-hmax">93.0</span>%
                                                                </div>
                                                                <div class="col-4 text-right p-0 mr-auto">Min :</div>
                                                                <div class="col-6 p-0 ml-auto">
                                                                    <span id="{{code}}-hmin">23.0</span>%
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--div class="col p-0 m-auto">                                                    
                                                        <div class="row p-0 m-0">
                                                            <div class="col-12 col-md-4 col-xl-12 p-1 text-center">
                                                                <a href="#" class="btn btn-outline-primary btn-block btn-sm px-0" data-toggle="tooltip" data-placement="bottom" title="Historico de Mediciones" style="font-size: 1.5w;">
                                                                    <span><i aria-hidden="true" class="fa fa-chart-line mx-1"></i></span>
                                                                    <span>Historico de Mediciones</span> 
                                                                </a>
                                                                
                                                            </div>
                                                            <div class="col-12 col-md-4 col-xl-12 p-1 text-center">
                                                                <a href="#" class="btn btn-outline-primary btn-block btn-sm px-0" data-toggle="tooltip" data-placement="bottom" title="Historico de Alarmas" style="font-size: 1.5w;">
                                                                    <span><i aria-hidden="true" class="fa fa-exclamation-triangle"></i></span>
                                                                    <span>Historico de Alarmas</span> 
                                                                </a>
                                                            </div>
                                                            <div class="col-12 col-md-4 col-xl-12 p-1 text-center">
                                                                <a href="#" class="btn btn-outline-primary btn-block btn-sm px-0" data-toggle="tooltip" data-placement="bottom" title="Impresion de Reportes" style="font-size: 1.5w;">
                                                                    <span><i aria-hidden="true" class="fa fa-file"></i></span>
                                                                    <span>Impresion de Reportes</span> 
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div-->
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                                {{/if}}

                                {{/each}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>