<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
    $(function () {
        var socket = io();

        socket.on('server:data', function (data) {
            console.log(data);
            $("#count" + data.id).find('#lblLOTE').val(data.lote);
            $("#count" + data.id).find('#lblHINICIO').val(data.hini);
            $("#count" + data.id).find('#lblTOTAL').val(data.total);
            $("#count" + data.id).find('#lblTURNO').val(data.turn);
            $("#count" + data.id).find('#lblPARCIAL').val(data.hour_current);
            $("#count" + data.id).find('#lblESTADO').val(data.status);
            if(data.speed != 0)
                $("#count" + data.id).find('#holdTOTAL').html(`...velocidad maquina  ${data.speed}`);
            $("#count" + data.id).find('#holdTURNO').html(data.hres);
            if(data.hour != 0)
                $("#count" + data.id).find('#holdPARCIAL').html(`...la hora anterior ${data.hour}`);
            $("#count" + data.id).find('#holdESTADO').html(data.hreg);
        });
    });
</script>

<style>
    .card-header .card-title .action-icon {
        float: right;
        width: 1.2em;
    }
    .card-header .card-title{
        cursor: pointer;
        border-bottom: none;
    }
    .card-header .card-title:not(.collapsed) .rotate-icon {
        transform: rotate(180deg);
    }

    .input-group>.input-group-prepend {
        flex: 0 0 40%;
    }
    .input-group .input-group-text {
        width: 100%;
    }
</style>

<ul class="breadcrumb">
    <span><i class="fa fa-industry mx-2"></i></span>
    <li class="breadcrumb-item">
        Produccion
    </li>
</ul>

<div class="container-fluid">
    <div id="pnlProduccion" class="my-2">
        {{#each data}}
            {{#if areas.length}}
        <div class="card mb-3 my-2">
            <div class="card-header ">{{name}}</div>                
            <div class="card-body card bg-light p-1" id={{code}}>
            <div class="accordion" id="accordionData">
                {{#each areas}}
                <div class="card">                      
                    <div class="card-header btn-outline-primary" id="heading{{code}}"  data-toggle="collapse" data-target="#collapse{{code}}" aria-expanded={{#if @first}}"true"{{else}}"false"{{/if}} aria-controls="collapse{{code}}">
                        <h6 class="card-title font-weight-light mb-0">
                            <span class="title">{{name}}</span>
                            <span class="action-icon"><i class="fas fa-angle-down rotate-icon"></i></span>
                        </h6>
                    </div>
                    <div id="collapse{{code}}" class="collapse {{#if @first}}show{{/if}}" aria-labelledby="heading{{code}}" data-parent="#accordionData">
                        <ul class="list-group list-group-flush">
                        {{#each locations}}                           
                            <div class="card-body">
                                <h6 class="card-title">
                                    <span class=" font-weight-bold mr-2">{{code}}</span>{{name}}
                                </h6>
                                <li class="list-group-item p-0">
                                    <ul class="list-group list-group-flush">
                                        {{#each counters}}
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <div class="row" id=count{{id}}>
                                                        <div class="col-lg-2 col-xl-3 my-auto">
                                                            <a href="/produccion/contador?id={{id}}" class="mx-auto d-block text-center">
                                                                <img src="/img/{{code}}.png" class="img-fluid img-thumbnail mx-auto d-block">
                                                                <h6 class="font-weight-bold m-0">{{code}}</h6>
                                                                <small class="text-muted">{{name}}</small>                                                                
                                                            </a>
                                                            
                                                        </div>
                                                        <div class="col-lg-6 col-xl-6">
                                                            <div class="row">
                                                                <div class="input-group input-group-sm col-sm-6  m-0 p-0">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text" id="addon-lote">LOTE</span>
                                                                    </div>
                                                                    <input class="form-control text-center" style="background:#FFF;" id="lblLOTE" readonly="" value="" aria-describedby="addon-lote" />
                                                                </div>

                                                                <div class="input-group input-group-sm col-sm-6 m-0 p-0">
                                                                    <div class="input-group-prepend">
                                                                        <label class="input-group-text" id="addon-hini">HORA INICIO</label>
                                                                    </div>
                                                                    <input class="form-control text-center" style="background:#FFF;" id="lblHINICIO" readonly="" value="--:--:-- --/--/----" aria-describedby="addon-hini"/>
                                                                </div>
                                                                <div class="form-group col-sm-4 m-0 p-0">
                                                                    <label for="name" class="control-label m-0" style="font-size: 11px; color: #FFF; background: #418183;  width: 100%; height:17px; text-align: center;">TOTAL PRODUCIDO</label>
                                                                    <input class="form-control text-primary" style="font-size: 23px; background:#FFF; width: 100%;  height:30px; text-align: center;" id="lblTOTAL" readonly="" value="0" />
                                                                    <small id="holdTOTAL" class="form-text text-muted m-0 text-right" ></small>
                                                                </div>
                                                                <div class="form-group col-sm-4 m-0 p-0">
                                                                    <label for="name" class="control-label m-0" style="font-size: 11px; color: #FFF; background: #410083; width: 100%; height:17px; text-align: center;">TOTAL PROD. TURNO</label>
                                                                    <input class="form-control text-primary" style="font-size: 23px; background:#FFF; width:100%; height:30px; text-align: center;" id="lblTURNO" readonly="" value="0" />
                                                                    <small id="holdTURNO" class="form-text text-muted m-0 text-right" ></small>
                                                                </div>
                                                                <div class="form-group col-sm-4 m-0 p-0">
                                                                    <label for="name" class="control-label m-0" style="font-size: 11px; color: #FFF; background: #FF8141; width: 100%; height:17px; text-align: center;">TOTAL PROD. HORA</label>
                                                                    <input class="form-control text-primary" style="font-size: 23px; background:#FFF; width:100%; height:30px; text-align: center;" id="lblPARCIAL" readonly="" value="0" />
                                                                    <small id="holdPARCIAL" class="form-text text-muted m-0 text-right" ></small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-xl-3 my-auto">
                                                            <div class="form-group mb-0">
                                                                <label for="name" class="control-label" style="font-size: 11px; color: #858585; height:17px;">ESTADO ACTUAL</label>
                                                                <input class="form-control" style="font-size: 23px; width:100%; height:50px; text-align: center;" id="lblESTADO" readonly="" value="SIN PRODUCCION" />
                                                                <small id="holdESTADO" class="form-text text-muted m-0 text-right" ></small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        {{/each}}
                                    </ul>
                                </li>
                            </div>
                        {{/each}}
                        </ul>
                    </div>
                </div>
                {{/each}}                            
            </div>          
        </div>
            {{/if}}
        {{/each}}
        </div>
            
    </div>

    <!--div id="pnlProduccion" class="my-2">
        {{#each areas}}
        <div class="card mb-3 my-2">
            <div class="card-header">{{area}}</div>
            <div class="card-body card bg-light p-1" id=area{{@index}}></div>
        </div>
        {{/each}}
    </div-->
</div>